# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
BasedOnStyle: Google
IndentWidth: 4

DerivePointerAlignment: false
PointerAlignment: Left
AlignConsecutiveAssignments: Consecutive
ColumnLimit: 120

BinPackParameters: false
BinPackArguments: false
